{% extends 'back/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
    <div class="row justify-content-center m-4">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header d-flex justify-content-center align-items-center">
                        <h1 class="h3 font-weight-normal">Please sign in</h1>
                    </div>
                    <div class="card-body">
                        <label for="inputUsername">Username</label>
                        <input type="text" name="username" id="inputUsername" class="form-control" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}
