<style>
    .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;


     }


</style>
    }
</style>

<div class=" footer text-center bg-light p-3">
    &copy; {{ "now"|date("Y") }} - BEWVED - Tous droits réservés
</div>