{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}


{% block main %}
    <br>
    <div class="container"  >
        <h2 style="text-align:center">Votre Groupe pour la Session + "Nom de Session" :</h2>

        <br>
        <div class="row" >
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="BewVed">
                    <div class="card-body">
                        <h5 class="card-title">Nom Du candidat</h5>
             <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>-->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">AGE</li>
                        <li class="list-group-item">SEXE</li>
                        <ul class="list-group-item">Compétences
                            <li class = "a">Java</li>
                            <li class = "a">Php</li>
                            <li class = "a">JS</li>
                        </ul>
                     </ul>
                    <div class="card-body" style="text-align:center">
                        <p>Concepteur Développeur d'Applications</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="BewVed">
                    <div class="card-body">
                        <h5 class="card-title">Nom Du candidat</h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk
                           of the card's content.</p>-->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">AGE</li>
                        <li class="list-group-item">SEXE</li>
                        <ul class="list-group-item">Compétences
                            <li class = "a">Java</li>
                            <li class = "a">Php</li>
                            <li class = "a">JS</li>
                        </ul>
                    </ul>
                    <div class="card-body" style="text-align:center">
                        <p>Concepteur Développeur d'Applications</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="BewVed">
                    <div class="card-body">
                        <h5 class="card-title">Nom Du candidat</h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk
                           of the card's content.</p>-->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">AGE</li>
                        <li class="list-group-item">SEXE</li>
                        <ul class="list-group-item">Compétences
                            <li class = "a">Java</li>
                            <li class = "a">Php</li>
                            <li class = "a">JS</li>
                        </ul>
                    </ul>
                    <div class="card-body" style="text-align:center">
                        <p>Concepteur Développeur d'Applications</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}