{% extends 'back/base.html.twig' %}

{% block title %}{{ parent() }} | Modification de l'utilisateur{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            {% include 'back/user/_form.html.twig' with { userForm: userForm, title: "Modification de l'utilisateur", action: "Modifier" } %}
        </div>
    </div>
{% endblock %}