<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bewved{% endblock %}</title>
    {% block head_css %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<div>
    <header>
        {% include "back/partials/navbar.html.twig" %}
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if ( label == 'success' ) %}
                    <div class="alert alert-success text-center">
                        {{ message }}
                    </div>
                {% elseif ( label == 'error' ) %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% block main %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer>
        {% include("back/partials/footer.html.twig") %}
    </footer>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    {% endblock %}
</div>
</body>
</html>
